/* Stylesheet for Excursion project */
body {
  background-color: black;
  font-family: Verdana, sans-serif;
}
p { text-align: center}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}
video {
  video-position: center;
}
h3 {
  font-weight: 300;
  color: white;
  font-size: 42px;
  text-align: center;
}
h4{
  font-size: 21px;
  color: Gray;
  text-align: center;
}

footer {
  color: Gray;
  Font-size: 21px;
  text-align: right;
}
